<?xml version='1.0' encoding='utf-8'?>
<widget id="cn.com.dcxx.air_monitor" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>AirMonitor</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="SplashScreen" value="screen"/>
    <preference name="ShowSplashScreenSpinner" value="false"/>
    <preference name="SplashScreenDelay" value="3000" />
    <platform name="android">
        <allow-intent href="market:*" />
        <splash src="res/screen/android/bg.png" density="land-hdpi" />
        <splash src="res/screen/android/bg.png" density="land-ldpi" />
        <splash src="res/screen/android/bg.png" density="land-mdpi" />
        <splash src="res/screen/android/bg.png" density="land-xhdpi" />
        <splash src="res/screen/android/bg.png" density="port-hdpi" />
        <splash src="res/screen/android/bg.png" density="port-ldpi" />
        <splash src="res/screen/android/bg.png" density="port-mdpi" />
        <splash src="res/screen/android/bg.png" density="port-xhdpi" />
    </platform>
    <platform name="ios">
        <preference name="FadeSplashScreenDuration" value="300" />
        <splash src="res/screen/ios/Default@2x~universal~anyany.png" />
        <splash src="res/screen/ios/Default@3x~universal~anyany.png" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="~5.2.2" />
    <engine name="ios" spec="~4.2.1" />
</widget>
